body{
    background-color: gainsboro;
    margin-bottom: 40px;
}
div.cuaderno a:after{
    content:url('imagenes/link.png');
    padding-left:1em;
}

div.bloqueexplicacion > ol {
    border: dotted 0.1em black;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion > ul {
    border: dashed 0.1em blue;
    background-color:white;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

div.bloqueexplicacion dd {
    border: dotted 0.1em black;
    padding-top:0.5em;
    padding-bottom:0.5em;
    background-color: #ffd6d6;
}
h1{
    background-color: darkblue;
    color: rgb(233, 229, 183);
    padding: 1px;
    text-align: center;
}

.lateral{
    float: left;
    background-color: darkblue;
    width: 15%;
    min-height: 91vh;
}
.central{
    float: left;
    width: 83.7%;
    
    margin-left: 1%;
    padding: 1px;
    
}
.pie{
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    text-align: right;
    background-color: darkblue;
    color: yellow;
    padding: 1px;
    margin-left: 0.4%;
}
li{
    color: yellow;
}

a{
    color: white;
}

.logo>img{
    width: 280px;
    height: 100px;
    
}

.aviso{
    border: 5px double red;
    
    background-color: rgb(171, 245, 237);
    background-image: url("imagenes/construccion.png"),
                      url("imagenes/construccion.png");                
    background-repeat:no-repeat,
                      no-repeat;
    background-position-x: 33%,67%;
    background-position-y: 40%;
    
    /*Introducimos 2 imagenes de fondo y las colocamos consecutivamente en el eje X*/
}

.tituloaviso{
    
    font-size: 40px;
    text-align: center;

}

.cuerpoaviso{
    text-align: center;
}

.areaLimpia{
    background-color: rgb(255, 255, 255);
    float: right;
    border: 2px dashed darkblue;
    margin-bottom: 2%;
    
}

.areaLimpia>.tablaContenido>p{
    margin-left: 5%;
}

.areaLimpia>.tablaContenido>ol>li{
    color: rgb(0, 0, 0);
}


.areaLimpia>.tablaContenido>ol>li>a{
    color: blue;
}

.cuaderno{
    background-color: rgb(235, 231, 183);
}

h2{
    border: 5px solid darkblue;
    background-color: rgb(111, 192, 192);
    padding: 5px;
    text-align: center;
}

h3{
    color: darkblue;
    margin-left: 1%;
    border-bottom: 2px solid darkblue;
}

.cuaderno>ul>li{

    color: darkblue;
}

.bloqueexplicacion{
    background-color: rgb(111, 192, 192);
    margin-left: 1%;
    margin-right: 1%;
    padding: 2px;
    margin-bottom: 1%;
}

.bloqueexplicacion>ol>li{
    color: black;
}

.bloqueexplicacion>ol>li>a{
    color: red;
}

h4{
    color: darkblue;
    margin-left: 1%;
    font-size: 30px;
}

.figura>img{
    display:block;
    margin:auto;
    width: 98%;
}

.figura{
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid darkblue;
}

.bloqueexplicacion>ul>li{
    color: black;
}

.bloqueexplicacion>dl>dd>ul>li{
    color: black;
}

.identificadorExp{
    border: 3px solid darkblue;
    background-color: green;
    color: darkblue;
}

.codigo{
    background-color:blue;
    color: white;
    border: 3px solid darkblue;
    margin-left: 1%;
    margin-right: 1%;
}

.identificadorEje{
    border: 3px solid darkblue;
    background-color: rgb(235, 129, 8);
    color: rgb(0, 0, 0);
}

.salidapantalla{
    background-color: black;
    border: 2px double green;
    color: green;
    margin-right: 1%;
    padding-left: 5px;
}

.ecuacion>img{
    display:block;
    margin:auto;
}

.identificadorPro{
    border: 3px solid darkblue;
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
}

.bloqueexplicacion>ul>li>a{
    color: red;
}

.bloqueexplicacion>ul>li>ul>li{
    color: black;
}